body {
    /* margin-top:20px; */
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #fff;
}

.navbar {
  background-color: rgb( 15, 13, 13);
}

.navbar .nav-link {
  color:  rgb(202, 220, 215) !important;
}


.navbar-nav .nav-item.dropdown:hover > .dropdown-menu {
  background-color: rgb( 15, 13, 13);
 
	display: block;
  border: none !important;
  border-radius: 0;
  }

.navbar-nav .dropdown-item {
    color:  rgb(202, 220, 215) !important;
  }

.breadcrumb {
  border: solid 1px  rgb( 15, 13, 13)  ;
  border-radius: 25px;
  width: 25%;
}

.breadcrumb-item a {
  text-decoration: none; /* Remove underline */
  color: rgb( 15, 13, 13); /* Set the desired color */
}

.breadcrumb .breadcrumb-item {
  color:  rgb( 15, 13, 13) !important;
  text-decoration: none !important;
}

/* card */
.card {
  border-radius: 20px;
 
}

/* .card-body:hover{
  background-color: #fff;
  border-radius: 20px;
  opacity: 0.9; 
  transition: background-color 0.5s ease, opacity 0.5s ease;
} */


/* main content */

  @media (max-width: 768px) {
    /* Add responsive styles for smaller screens here */
    /* .text-container {
        top: 50%;
        right: 4%;
        font-size: 20px;
        max-width: 100%; 
        margin-right: 0;
      } */
    .breadcrumb {
      width: 40%;
      font-size: 9px;
    }
    .custom-btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        }
        .detail {
          font-size: 20px;
        
        }
  }

/* footer */
.footer {
    background:rgb(135, 74, 56);;
	padding-bottom: 50px;
	padding-top: 80px;
}
.footer_menu {
	margin-bottom: 20px;
}
.footer_menu ul {
	list-style: none;
	text-align: center;
}
.footer_menu ul li{display: inline-block;}
.footer_menu ul li a {
	color:#fff;
	padding: 0 10px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
    text-decoration: none;
}
.footer_menu ul li a:hover{
    color:#554c86;
    /* text-decoration: none; */
}

/*START FOOTER SOCIAL DESIGN*/
.footer_profile{margin-bottom:40px;}
.footer_profile ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.footer_profile ul li{
display: inline-block;
}
@media only screen and (max-width:480px) { 
.footer_profile ul li{margin:2px;}
}
.footer_profile ul li a img{width:60px;}

.footer_profile ul li a {
	background: #fff;
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	margin-right: 5px;
	border-radius: 50%;
	line-height: 40px;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-transition: .3s;
	transition: .3s;
	color: rgb(135, 74, 56);
}
.footer_copyright {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
}

.d-flex {
    display: flex;
    
  }
  .text-container {
    max-width: 60%;
    font-weight: 600;
    margin-right: 20px; 

  }
 
  .image-container {
    max-width: 35%;
   
  } 
  .image-container:hover {
    max-width: 38%; 
  }
  .responsive-image {
    width: 90%;
    height: auto;
  }
 
.custom-btn {
width: 130px;
height: 50px;
font-size: 18px;
background-color: rgb(138, 74, 56);
color: white;
transition: background-color 0.3s; 
}

 .custom-btn:hover {
background-color: darkred;
color: white;
}
.registration-btn, .details-btn {
width: 130px;
height: 50px;
font-size: 18px;
background-color: rgb(138, 74, 56);
color: white;
transition: background-color 0.3s;
margin-right: 10px; 
} 

/* link index page */


/* map */
.map {
  max-width: 60%; 
  height: auto; 
  border: 5px solid #ddd; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* pop up contact */
